sidenav {
    position: fixed;
    padding-top: 100px;
    top: 0;
    left: 0;
    width: 50px;
    height: 100vh;
    background-color: #2c2c6c;
    z-index: 20;

    .section-one,
    .section-two {
        width: calc(100vw - 50px);
        height: 100vh;
        position: fixed;
        top: 0;
        right: 0;
        z-index: 10;
        background-color: var(--color-bg);
        overflow-y: scroll;
    }

    .buttons {
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: center;

        .btn-nav {
            position: relative;
            margin-block: 50px;

            >svg {
                width: 36px;
                height: 36px;
                cursor: pointer;
            }
        }
    }

    .counter {
        background: red;
        width: 20px;
        line-height: 4px;
        border-radius: 50px;
        display: flex;
        height: 20px;
        position: absolute;
        justify-content: center;
        align-items: center;
        top: -8px;
        right: ;
    }
}

.main {
    position: fixed;
    left: 50px;
    margin-left: 50px;
    top: 100px;

    >h1 {
        font-weight: 800;
    }

    >h2 {
        text-transform: uppercase;
        border-bottom: 3px solid #4db5ff;
    }
}